:root {
  --bg-color: #fffafa;
  --text-color: #000000;
  --box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  --optional-shadow: 0 1px 5px rgba(104, 104, 104, 0.3);
  font-size: 16px;
}
.text-center {
  text-align: center;
}
/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100%;
}

/* stying the logo */

.logo_link {
  background-color: #1b3d6e;
  box-shadow: 0 3px 10px rgb(0 0 0 / 50%);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo_image {
  /* logo centered because of width applied below  change width if you want image changes*/
  width: 100%;
  height: 60px;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  object-fit: contain;
}
img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* centering parent class div */
.parent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
/* centering form in a div */

.around_form {
  padding: 40px;
  box-shadow: var(--box-shadow);
}
.loginform {
  margin: 30px;
}
/* form elements  styling input and form*/
.form_elements {
  padding: 10px 0;
  margin: 2px;
}
.form_elements > a {
  text-decoration: none;
  color: #d81f29;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 2px;
}
.form_elements > a:hover {
  color: #f9a71c;
}
input,
button {
  border: 0;
  outline: none;
  background-color: none;
  font-size: medium;
}
input {
  border-bottom: 2px solid #f9aa20;
  padding: 1rem;
  background-color: var(--bg-color);
}
input:focus {
  border-bottom: 2px solid #363636;
  border-left: 2px solid #f9aa20;
}
input::placeholder {
  color: #000;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
input:focus::placeholder {
  font-size: 0.9rem;
  text-align: center;
  color: #000;
  letter-spacing: 1px;
  font-family: sans-serif;
}
input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
}

.btn {
  width: 100%;
  background-color: #f9a71c;
  color: #ecf0f1;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.5s, outline 0.5s step-end;
  -webkit-transition: background-color 0.5s, outline 0.5s step-end;
  -moz-transition: background-color 0.5s, outline 0.5s step-end;
  -ms-transition: background-color 0.5s, outline 0.5s step-end;
  -o-transition: background-color 0.5s, outline 0.5s step-end;
}
.btn:hover {
  color: #f9a71c;
  background-color: #fffafa;
  outline: 2px solid;
  outline-offset: 2px;
}
.btn:active {
  color: #f9a71c;
  background-color: #fff;
  outline: 0;
}

footer {
  color: #ecf0f1;
  padding: 1rem;
  min-width: 100px;
  background-color: #1b3d6e;
  box-shadow: 0 3px 10px rgb(0 0 0 / 50%);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
/* Media Queries */
@media screen and (max-width: 350px) {
  .parent {
    width: 100%;
  }
  .around_form {
    padding: 0;
    width: 100%;
  }
  input {
    width: 100%;
  }
  .form_elements > span {
    width: 100%;
  }
}
